*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr: rgb(63, 62, 62);
    --v: rgb(87, 70, 240);
}

html{
    scroll-behavior: smooth;
}

html, body{
    height: 100%;
    overflow: hidden;
}

body{
    background: var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAVBARD */


nav{
    width: 400px;
    height: 75px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background: white;
}

nav ul{
    display: flex;
    width: 350px;
    justify-content: center;
}

nav ul li{
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

nav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

nav ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: rgb(41, 40, 40)
}

nav ul li.active a .icon{
    transform: translateY(-39px);
}

nav ul li a .text{
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    transition: 0.5s;
    color: rgb(41, 40, 40);
    letter-spacing: 0.05em;
    opacity: 0;
    transform: translateY(20px);
}

nav ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    width: 70px;height: 70px;
    background: rgb(87, 70, 240);
    top:-47%;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}

.indicator:before{
    content:'';
    position: absolute;
    background: transparent;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

.indicator:after{
    content:'';
    position: absolute;
    background: transparent;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

nav ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(-35px + 70px *  -1  ));
}
nav ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(-35px + 70px *  0  ));
}
nav ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(-35px + 70px *  1  ));
}
nav ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(-35px + 70px *  2  ));
}






/* -------------PAGES------------ */

.pages{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page{
    width: 100%;
    overflow: hidden;
    height: 100%;
    transition: 0.5s;
    position: absolute;
    background: var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--v);
}

.second.page{
    right: -100%;
}
.third.page{
    right: -200%;
}
.fourth.page{
    right: -300%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

}

.lettre{
    width: 100px;
    height: 160px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    transition: 0.5s;
    
    border: 1px solid var(--clr);
}

.part{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: var(--v);
    display: none;
    position: absolute;
    transition: 0.7s ease-out;
}



.e .top, .t .top {
    width: 100px;
}

.i .top{
    left: 40px;
}


.part, .top{
    display: block;
}

.vertical-bar{
    height: 160px;
}

.small-vertical-bar{
    height: 100px;
    top: 30px;
}

.i .small-vertical-bar{
    top: 40px;
    height: 120px;
}

.t .small-vertical-bar{
    top: 30px;
    height: 130px;
}

.bottom-bar{
    width: 100px;
    bottom: 0;
}

.middle-bar{
    width: 40px;
    top: 70px;
    left: 30px;
}

.middle{
    left: 40px;
}

.right{
    right: 0;
}

.diagonal-bar{
    height: 100px;
    transform: rotate(-20deg);
    left: 40px;
    top: 30px;
}

.left{
    left: 0;
}



/*break animation*/

.lettre .left{
    transform:  translate(-142px, 849px) rotate(84deg);
}
.lettre .right{
    transform: translate(347px, 465px) rotate(84deg);
}

.e .left{
    transform: translate(-443px, -954px) rotate(84deg) ;
}

.t .top{
    transform: translate(-185px, 586px) rotate(-20deg) ;
}


.i .middle{
    transform: translate(46px, -495px) rotate(7184deg) ;
}
.n .left{
    transform:  translate(-796px, -489px) rotate(84deg);
}

.e .left{
    transform: translate(-485px, 736px) rotate(84deg);
}



.lettre .top{
    transform:  translate(142px, -849px) rotate(84deg);
}
.lettre .small-vertical-bar{
    transform: translate(-347px, -465px) rotate(84deg);
}

.e .middle-bar{
    transform: translate(443px, 954px) rotate(84deg) ;
}

.e .bottom-bar{
    transform: translate(185px, -586px) rotate(-20deg) ;
}


.n .diagonal-bar{
    transform: translate(-46px, 495px) rotate(7184deg) ;
}
.n .small-vertical-bar{
    transform:  translate(796px, 489px) rotate(84deg);
}

.n .vertical-bar{
    transform: translate(485px, -736px) rotate(84deg);
}


.part.fixed{
    transform: none;
}

.fixed.diagonal-bar{
    transform: rotate(-20deg);
}

.lettre:hover{
    border: 1px solid var(--v);
}