
#experience h1{
    background-color: var(--v2);
    text-align: center;
    padding: 50px;
}

@media screen and (min-width: 600px){
    #experience h1{
        position: absolute;
        left: 0;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 100px;
        height: 100%;
        min-width: 15%;
    }
}

#experience article{
    min-height: 500px;
    border-style: solid;
    border-color: var(--v);
    border-width: 10px;
    border-radius: 30px;
    padding: 30px;
    /* width: 81%; */
    margin: 0 2%;
    background-color: whitesmoke; 
}

.articles-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 600px;
    right: 0;
    top: 155px;
    transition: 0.5s;
    max-width: 450px;
}

#experience h2{
    text-align: center;
    font-size: 35px;
}


#experience .button {
    position: absolute;
    left: 55%;
    font-size: 60px;
    opacity: 0.6;
    color: var(--v);
}

.fa-chevron-up{
    top: 30px;
}

.fa-chevron-down{
    bottom: 100px;
}

#experience .button:hover{
    opacity: 1;
}