#home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 860px) {
    #home {
        flex-direction: row;
    }
}

#home h1{
    display: flex;
    justify-content: center;
    align-items: center;

}

#show-all {
    display: none;
}

.lettre{
    display: none;
}

.green{
    color: var(--green);
}


#home main{

    max-width: 800px;
    margin: 40px;
    color: whitesmoke;
    /* border: 4px solid var(--v); */
    /* padding: 20px; */
    border-radius: 18px;
}



#home main h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    z-index: 1;
    margin-bottom: 80px;
}

#home main p{
    font-size: 20px;
    margin: 2em;
    z-index: 1;
    text-align: center;
}




.resume-container {
    position: relative;
    max-width: 350px;
    min-width: 300px;
    
    margin: 20px;
    background-color: lightcyan;
    border-radius: 10px;
    padding: 15px;
}

.resume-container img {
    
    max-width: 100%;
    max-height: 100%;
    display: block; 
    
}






