

.project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.project-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    min-height: 200px;
    background-color: lightcyan;
    border-radius: 15px;
    padding: 14px;
    transition: transform 0.2s cubic-bezier(0.01, 0.15, 0.15, 0.54) 0.1s;
}

.project-block:hover {
    transform: scale(1.1);
}

@media screen and (min-width:1000px) {
    .project-block{
        max-width: 450px;
        height: 200px;
    }
    .project-list{
        gap: 50px;
    }
}

.project-top{
    display: flex;
    justify-content: space-between;
}

.project-links{
    display: flex;
    gap: 14px;
}

.project-links a{
    color: black;
    text-decoration: none;
}

/* .project-middle {
    margin: 30px auto;
} */


.project-tags span{
    margin-inline: 3px;
    line-height: 40px;
    padding: 4px;
    background-color: rgb(162, 154, 175);
    border-radius: 2px;
}