*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --clr: rgb(63, 62, 62);
    --v: rgb(87, 70, 240);
    --v2: rgb(130, 108, 255);
    --green: rgb(61, 201, 167);
    --navb: rgb(62, 62, 100);
}

html{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

html, body{
    height: 100%;
    overflow: hidden;
}

body{
    background: var(--clr);
    display: flex;
    
    justify-content: center;
    align-items: center;
}


#choose-lang {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#choose-lang div:nth-child(1){
    margin: 50px 100px;
    animation: slide-from-left 0.4s ease-out 0s forwards;
}

#choose-lang div:nth-child(2){
    margin: 50px 100px;
    animation: slide-from-left 0.4s ease-out 0.2s forwards;
    opacity: 0;
}



#choose-lang h2{
    text-align: center;
    color:whitesmoke;
    padding: 20px;
}


#switch-lang{
    position: absolute;
    display: none;
    z-index: 40;
    top: 20px;
    left: 20px;
}

#switch-lang button{
    border: 0;
}

#switch-lang button:hover {
    animation: shake 1s infinite;
}





/* NAVBARD */


nav{
    width: 400px;
    height: 81px;
    position: absolute; 
    margin: 0 auto;
    transform: translateX(-8px);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background: white;
    border-top: 6px solid var(--navb);
    border-left: 3px solid var(--navb);
    border-right: 3px solid var(--navb);
    border-bottom: 0;
}


nav ul{
    display: flex;
    width: 350px;
    justify-content: center;
}

nav ul li{
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

nav ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

nav ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: rgb(41, 40, 40)
}

nav ul li.active a .icon{
    transform: translateY(-39px);
}

nav ul li a .text{
    position: absolute;
    font-weight: 700;
    font-size: 0.75em;
    transition: 0.5s;
    color: rgb(41, 40, 40);
    letter-spacing: 0.05em;
    opacity: 0;
    transform: translateY(20px);
}

nav ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.indicator{
    position: absolute;
    width: 60px;height: 60px;
    background: rgb(87, 70, 240);
    top:-40%;
    border-radius: 10px;
    border: 6px solid var(--navb);
    transition: 0.5s;
}
/*
.indicator:before{
    content:'';
    position: absolute;
    background: transparent;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}

.indicator:after{
    content:'';
    position: absolute;
    background: transparent;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 -10px 0 0 var(--clr);
}*/

nav ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(-35px + 70px *  -1  ));
}
nav ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(-35px + 70px *  0  ));
}
nav ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(-35px + 70px *  1  ));
}
nav ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(-35px + 70px *  2  ));
}






/* -------------PAGES------------ */

.pages{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    transition: 0.8s;
}

.page.active{
    scale: 1;
    opacity: 1;
}

.page.beforeactive{
    transform: translate(-100%);
}

.page.afteractive{
    transform: translate(100%);
}


.page{
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    transition: 0.8s;
    position: absolute;
    background: var(--clr);
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
    border: 1px solid var(--v);
    padding-bottom: 100px; /*Space for nav*/
    scale: 0.4;
    opacity: 0;
}

.page-title {
    background-color: var(--v2);
    position: sticky;
    top: 0;
    text-align: center;
    padding: 40px;
    z-index: 3;
    margin-bottom: 60px;
}

/* .second.page{
    right: -100vw;
}
.third.page{
    right: -100vw;
}
.fourth.page{
    right: -100vw;
} */



